<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name ="title" content="Blank project">
<meta name ="keywords" content="Webpack, Bootstrap, Sass, jQuery, Ejs">
<meta name ="description" content="Blank project for html markup">