<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./header/meta.html') %>
    <title>Empty project</title>
</head>
<body>
    <h1>Example page</h1>
    <a href="index.html">Back</a>
</body>
</html>