<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./header/meta.html') %>
        <title>Empty project</title>
    </head>
    <body>
        <%= require('html-loader!./parts/logo.html') %>
        <a href="example.html">Other page</a>
        <%= require('html-loader!./parts/debug.html') %>
    </body>
</html>